<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czbank.ark.dao.AnswerPeopleMapper">
  <resultMap id="BaseResultMap" type="com.czbank.ark.model.AnswerPeople">
    <id column="anwser_id" jdbcType="VARCHAR" property="anwserId" />
    <result column="answer_name" jdbcType="VARCHAR" property="answerName" />
    <result column="affiliation" jdbcType="VARCHAR" property="affiliation" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="score" jdbcType="VARCHAR" property="score" />
    <result column="corresponding" jdbcType="VARCHAR" property="corresponding" />
  </resultMap>
  <sql id="Base_Column_List">
    anwser_id, answer_name, affiliation, age, score, corresponding
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from answer_people
    where anwser_id = #{anwserId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from answer_people
    where anwser_id = #{anwserId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.czbank.ark.model.AnswerPeople">
    insert into answer_people (anwser_id, answer_name, affiliation, 
      age, score, corresponding
      )
    values (#{anwserId,jdbcType=VARCHAR}, #{answerName,jdbcType=VARCHAR}, #{affiliation,jdbcType=VARCHAR}, 
      #{age,jdbcType=VARCHAR}, #{score,jdbcType=VARCHAR}, #{corresponding,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.czbank.ark.model.AnswerPeople">
    insert into answer_people
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="anwserId != null">
        anwser_id,
      </if>
      <if test="answerName != null">
        answer_name,
      </if>
      <if test="affiliation != null">
        affiliation,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="corresponding != null">
        corresponding,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="anwserId != null">
        #{anwserId,jdbcType=VARCHAR},
      </if>
      <if test="answerName != null">
        #{answerName,jdbcType=VARCHAR},
      </if>
      <if test="affiliation != null">
        #{affiliation,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="corresponding != null">
        #{corresponding,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czbank.ark.model.AnswerPeople">
    update answer_people
    <set>
      <if test="answerName != null">
        answer_name = #{answerName,jdbcType=VARCHAR},
      </if>
      <if test="affiliation != null">
        affiliation = #{affiliation,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="corresponding != null">
        corresponding = #{corresponding,jdbcType=VARCHAR},
      </if>
    </set>
    where anwser_id = #{anwserId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czbank.ark.model.AnswerPeople">
    update answer_people
    set answer_name = #{answerName,jdbcType=VARCHAR},
      affiliation = #{affiliation,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR},
      corresponding = #{corresponding,jdbcType=VARCHAR}
    where anwser_id = #{anwserId,jdbcType=VARCHAR}
  </update>
</mapper>