<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czbank.ark.dao.BiliboardMapper">
  <resultMap id="BaseResultMap" type="com.czbank.ark.model.Biliboard">
    <id column="biliboard_id" jdbcType="VARCHAR" property="biliboardId" />
    <result column="enroll_date" jdbcType="VARCHAR" property="enrollDate" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    <result column="subject_id" jdbcType="VARCHAR" property="subjectId" />
    <result column="answer_id" jdbcType="VARCHAR" property="answerId" />
    <result column="score" jdbcType="VARCHAR" property="score" />
    <result column="submit_date" jdbcType="VARCHAR" property="submitDate" />
  </resultMap>
  <sql id="Base_Column_List">
    biliboard_id, enroll_date, rank, subject_id, answer_id, score, submit_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biliboard
    where biliboard_id = #{biliboardId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from biliboard
    where biliboard_id = #{biliboardId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.czbank.ark.model.Biliboard">
    insert into biliboard (biliboard_id, enroll_date, rank, 
      subject_id, answer_id, score, 
      submit_date)
    values (#{biliboardId,jdbcType=VARCHAR}, #{enrollDate,jdbcType=VARCHAR}, #{rank,jdbcType=VARCHAR}, 
      #{subjectId,jdbcType=VARCHAR}, #{answerId,jdbcType=VARCHAR}, #{score,jdbcType=VARCHAR}, 
      #{submitDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.czbank.ark.model.Biliboard">
    insert into biliboard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="biliboardId != null">
        biliboard_id,
      </if>
      <if test="enrollDate != null">
        enroll_date,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="answerId != null">
        answer_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="submitDate != null">
        submit_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="biliboardId != null">
        #{biliboardId,jdbcType=VARCHAR},
      </if>
      <if test="enrollDate != null">
        #{enrollDate,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="answerId != null">
        #{answerId,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="submitDate != null">
        #{submitDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czbank.ark.model.Biliboard">
    update biliboard
    <set>
      <if test="enrollDate != null">
        enroll_date = #{enrollDate,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="answerId != null">
        answer_id = #{answerId,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="submitDate != null">
        submit_date = #{submitDate,jdbcType=VARCHAR},
      </if>
    </set>
    where biliboard_id = #{biliboardId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czbank.ark.model.Biliboard">
    update biliboard
    set enroll_date = #{enrollDate,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=VARCHAR},
      subject_id = #{subjectId,jdbcType=VARCHAR},
      answer_id = #{answerId,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR},
      submit_date = #{submitDate,jdbcType=VARCHAR}
    where biliboard_id = #{biliboardId,jdbcType=VARCHAR}
  </update>
</mapper>