<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czbank.ark.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.czbank.ark.model.Company">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="Company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="Company_number" jdbcType="VARCHAR" property="companyNumber" />
    <result column="Idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="Company_url" jdbcType="VARCHAR" property="companyUrl" />
    <result column="Idname" jdbcType="VARCHAR" property="idname" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, Company_name, Company_number, Idcard, Company_url, Idname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.czbank.ark.model.Company">
    insert into company (company_id, Company_name, Company_number, 
      Idcard, Company_url, Idname
      )
    values (#{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{companyNumber,jdbcType=VARCHAR}, 
      #{idcard,jdbcType=VARCHAR}, #{companyUrl,jdbcType=VARCHAR}, #{idname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.czbank.ark.model.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        Company_name,
      </if>
      <if test="companyNumber != null">
        Company_number,
      </if>
      <if test="idcard != null">
        Idcard,
      </if>
      <if test="companyUrl != null">
        Company_url,
      </if>
      <if test="idname != null">
        Idname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyNumber != null">
        #{companyNumber,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="companyUrl != null">
        #{companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="idname != null">
        #{idname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czbank.ark.model.Company">
    update company
    <set>
      <if test="companyName != null">
        Company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyNumber != null">
        Company_number = #{companyNumber,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        Idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="companyUrl != null">
        Company_url = #{companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="idname != null">
        Idname = #{idname,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czbank.ark.model.Company">
    update company
    set Company_name = #{companyName,jdbcType=VARCHAR},
      Company_number = #{companyNumber,jdbcType=VARCHAR},
      Idcard = #{idcard,jdbcType=VARCHAR},
      Company_url = #{companyUrl,jdbcType=VARCHAR},
      Idname = #{idname,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
</mapper>