<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czbank.ark.dao.SubjectMapper">
  <resultMap id="BaseResultMap" type="com.czbank.ark.model.Subject">
    <id column="subject_id" jdbcType="VARCHAR" property="subjectId" />
    <result column="subject_content" jdbcType="VARCHAR" property="subjectContent" />
    <result column="scan_num" jdbcType="VARCHAR" property="scanNum" />
    <result column="subject_catogory" jdbcType="VARCHAR" property="subjectCatogory" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="answer_num" jdbcType="VARCHAR" property="answerNum" />
    <result column="answer_id" jdbcType="VARCHAR" property="answerId" />
    <result column="start_date" jdbcType="VARCHAR" property="startDate" />
    <result column="end_date" jdbcType="VARCHAR" property="endDate" />
  </resultMap>
  <sql id="Base_Column_List">
    subject_id, subject_content, scan_num, subject_catogory, company_id, answer_num, 
    answer_id, start_date, end_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subject
    where subject_id = #{subjectId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from subject
    where subject_id = #{subjectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.czbank.ark.model.Subject">
    insert into subject (subject_id, subject_content, scan_num, 
      subject_catogory, company_id, answer_num, 
      answer_id, start_date, end_date
      )
    values (#{subjectId,jdbcType=VARCHAR}, #{subjectContent,jdbcType=VARCHAR}, #{scanNum,jdbcType=VARCHAR}, 
      #{subjectCatogory,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{answerNum,jdbcType=VARCHAR}, 
      #{answerId,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.czbank.ark.model.Subject">
    insert into subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="subjectContent != null">
        subject_content,
      </if>
      <if test="scanNum != null">
        scan_num,
      </if>
      <if test="subjectCatogory != null">
        subject_catogory,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="answerNum != null">
        answer_num,
      </if>
      <if test="answerId != null">
        answer_id,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectId != null">
        #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="subjectContent != null">
        #{subjectContent,jdbcType=VARCHAR},
      </if>
      <if test="scanNum != null">
        #{scanNum,jdbcType=VARCHAR},
      </if>
      <if test="subjectCatogory != null">
        #{subjectCatogory,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="answerNum != null">
        #{answerNum,jdbcType=VARCHAR},
      </if>
      <if test="answerId != null">
        #{answerId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czbank.ark.model.Subject">
    update subject
    <set>
      <if test="subjectContent != null">
        subject_content = #{subjectContent,jdbcType=VARCHAR},
      </if>
      <if test="scanNum != null">
        scan_num = #{scanNum,jdbcType=VARCHAR},
      </if>
      <if test="subjectCatogory != null">
        subject_catogory = #{subjectCatogory,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="answerNum != null">
        answer_num = #{answerNum,jdbcType=VARCHAR},
      </if>
      <if test="answerId != null">
        answer_id = #{answerId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=VARCHAR},
      </if>
    </set>
    where subject_id = #{subjectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czbank.ark.model.Subject">
    update subject
    set subject_content = #{subjectContent,jdbcType=VARCHAR},
      scan_num = #{scanNum,jdbcType=VARCHAR},
      subject_catogory = #{subjectCatogory,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      answer_num = #{answerNum,jdbcType=VARCHAR},
      answer_id = #{answerId,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=VARCHAR}
    where subject_id = #{subjectId,jdbcType=VARCHAR}
  </update>
</mapper>